.input_field_wr form {
  display: grid;
  justify-content: space-between;
  grid-template-columns: 1fr 150px;
  gap: 74px;
}

.input_field_wr input {
  width: 100%;
}

.input_field_wr button {
  width: 150px;
}
